:root {
   --pixel-size: 3px;
   --grid-cell: calc( var(--pixel-size) * 16);
   --bg: url("bkgd.png") no-repeat no-repeat;
}
 @media( min-width: 500px ) {
    :root {
       --pixel-scale: 3px;
    }
 }


 html, body {
    height: 100%;
 }
 
 body {
   background: var(--bg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
}
 

 .main {
    /* This is just for Pen decoration */
    width: calc(var(--pixel-scale) * 200);
    height: calc(var(--pixel-scale) * 160);
    outline: var(--pixel-size) solid #fff2d6;
    z-index:1; 
    position:relative;
 }
 
 .camera {
    width: calc(var(--pixel-scale) * 200);
    height: calc(var(--pixel-scale) * 160);
    overflow: hidden;
    background-color: aqua;
    position:relative;
 }
 
 .map {
   image-rendering: pixelated;
   background-image: url("pixel.png");
   background-size: 100%;
   width: calc(43 * var(--grid-cell));
   height: calc(24 * var(--grid-cell));
   position: relative;
}

.contact {
   image-rendering: pixelated;
   width: calc( 12* 2 );
   height: calc( 12* 2 );
   position: absolute;
   overflow:hidden;
   top: 775px;
   right: 545px;
}

 
 .character {
   width: calc( var(--grid-cell)* 2 );
   height: calc( var(--grid-cell)* 2 );
   position: relative;
   overflow:hidden;
 }
 

 .character_spritesheet {
   position: absolute;
   background: url("sprites.png") no-repeat no-repeat;
   background-size: 100%;
   width: calc( var(--grid-cell)* 8 );
   height: calc( var(--grid-cell)* 8 );
   image-rendering: pixelated;

 }
 
 .character[facing="down"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -1 );
}
.character[facing="right"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -33 );
}
.character[facing="up"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -65 );
}
.character[facing="left"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -97 );
}
.character[walking="true"] .character_spritesheet {
   animation: walkAnimation 0.6s steps(4) infinite; 
}
 
 @keyframes walkAnimation {
   from {
     transform: translate3d(0%,0%,0);
   }
   to {
     transform: translate3d(-100%,0%,0);
   }
 }
 
 
 .corner_topleft,
 .corner_topright,
 .corner_bottomleft,
 .corner_bottomright {
    position: absolute;
    width: var(--pixel-scale);
    height: var(--pixel-scale);
    background: var(--bg);
    z-index:2;
 }
 
 .corner_topleft {
    top: calc(var(--pixel-scale) * -1);
    left: calc(var(--pixel-scale) * -1);
 }
 .corner_topright {
    top: calc(var(--pixel-scale) * -1);
    right: calc(var(--pixel-scale) * -1);
 }
 .corner_bottomleft {
    bottom: calc(var(--pixel-scale) * -1);
    left: calc(var(--pixel-scale) * -1);
 }
 .corner_bottomright {
    bottom: calc(var(--pixel-scale) * -1);
    right: calc(var(--pixel-scale) * -1);
 }
